export TX_PUSH_TRANSLATIONS_TO={{ lookup('env','TX_PUSH_TRANSLATIONS_TO') }}
export GITHUB_USERNAME={{ lookup('env','GITHUB_USERNAME') }}
export GITHUB_PUSH_SOURCE_TO={{ lookup('env','GITHUB_PUSH_SOURCE_TO') }}
export GITHUB_BRANCH={{ lookup('env','GITHUB_BRANCH') }}
export GITHUB_WEBHOOK_SECRET={{ lookup('env','GITHUB_WEBHOOK_SECRET') }}
export TX_CONFIG_PATH={{ lookup('env','TX_CONFIG_PATH') }}
export TX_USERNAME={{ lookup('env','TX_USERNAME') }}
export TX_PASSWORD={{ lookup('env','TX_PASSWORD') }}
export TX_PUSH_TRIGGER_REVIEWED_OR_TRANSLATED={{ lookup('env','TX_PUSH_TRIGGER_REVIEWED_OR_TRANSLATED') }}
export TX_WEBHOOK_SECRET={{ lookup('env','TX_WEBHOOK_SECRET') }}
